.texto{
  text-align: center; color: black; font-size: 23px; font-style: italic;
  margin-right: : 30%;
  margin-top: 0,6%
}

.titulo{
  auto;  text-align: center; color: black; font-size: 31px; font-style: italic;
    margin-right: : 30%;
    margin-top: 0,6%
}

.corretoras1{
    text-align: center; color: black; font-size: 18px; font-style: oblique;
    margin-right: 60%;
    margin-top: ;

}
.corretoras2{
   text-align: center; color: black; font-size: 18px; font-style: oblique;
    margin-left: 60%;
    margin-bottom: 200%;

}
.Corretorastitulo{
   text-align: center; color: black; font-size: 50px; font-style: oblique;
    margin-left: ;
    margin-top:

}
