.texto{
  text-align: center; color: black; font-size: 23px; font-style: italic;
  margin-right: : 30%;
  margin-top: 0,6%
}

.titulo{
  auto;  text-align: center; color: black; font-size: 31px; font-style: italic;
    margin-right: : 30%;
    margin-top: 0,6%
}

.corretoras1{
    text-align: center; color: black; font-size: 18px; font-style: oblique;
    margin-left: 80%;
    margin-top: %;

}

.Corretorastitulo{
   text-align: center; color: black; font-size: 31px; font-style: oblique;
    margin-left: 80% ;
    margin-top:

}
.corretoras{
   text-align: center; color: blue; font-size: 40px; font-style:italic ;
margin-left: %;
margin-top: %;
}
